/* 1. Груповий селектор */
h1, h2, span {
    color: darkred;
}

/* 2. Контекстний селектор (Paragraph1 знаходиться всередині container) */
.container p {
    font-weight: bold;
}

/* 3. Селектор прямого нащадку (Span2) */
.div-span > span {
    color: green;
    font-style: italic;
}

/* 4. Селектори правого сусідства */

/* Li2, Li3, Li4 */
li + li {
    color: blue;
}

/* Заголовок4 (h4 після h3) */
h3 + h4 {
    text-decoration: underline;
}

/* 5. Блоки */
.block {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-color: lightgray;
}

/* Селектори по id */
#block1 {
    background-color: lime;
}

#block2 {
    border-radius: 50px;
}

/* Клас для блоків 3 та 4 */
.block_border {
    border: 4px solid blue;
}
