/* 1. Груповий селектор */
h1, h2, span {
    color: red;
}

/* 2. Контекстний селектор (Paragraph1 у div) */
div p {
    font-weight: bold;
}

/* 3. Селектор прямого нащадку (Span2) */
ul > li > span {
    font-style: italic;
    color: green;
}

/* 4. Селектор правого сусідства */
/* Li2, Li3, Li4 */
ol li + li {
    color: blue;
    font-weight: bold;
}

/* Заголовок4 */
h3 + h4 {
    color: purple;
    text-decoration: underline;
}

/* 5 завдання */
/* Загальний стиль блоків */
.block {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-color: lightgray;
}

/* 5.1 Селектор по id */
#block1 {
    background-color: lime;
}

#block2 {
    border-radius: 50px;
}

/* 5.2 Клас для рамки */
.block_border {
    border: 4px solid blue;
}
</style>
